@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot');
    src: url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff2') format('woff2'),
         url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff') format('woff'),
         url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf') format('truetype'),
         url('fonts/RobotoCondensedRegular/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
         font-style: normal;font-weight: normal;
}
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.eot');
    src: url('fonts/RobotoBold.eot') format('embedded-opentype'),
         url('fonts/RobotoBold.woff2') format('woff2'),
         url('fonts/RobotoBold.woff') format('woff'),
         url('fonts/RobotoBold.ttf') format('truetype'),
         url('fonts/RobotoBold.svg#RobotoBold') format('svg');
         font-style: normal;font-weight: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.eot');
    src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoRegular.woff2') format('woff2'),
         url('fonts/RobotoRegular.woff') format('woff'),
         url('fonts/RobotoRegular.ttf') format('truetype'),
         url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
         font-style: normal;font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.woff') format('woff'),
       url('../fonts/OpenSans/OpenSans.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}