/.well-known
/nina@#cache/*
!/nina@#cache/styles.css
/@#cache/*
!/@#cache/styles.css
/admin/*/
/admin/*.php
/admin/*.html
/admin/*.js
/admin/*.xls
!/admin/css/
/admin/css/*
!/admin/css/main.css
!/admin/css/main_repon.css
!/admin/ajax
!/admin/sources
!/admin/templates
!/admin/index.php
!/admin/ajax.php
!/admin/chuyen-ghtk.php
!/admin/export.php
/admindaily
/images
/database
/catalogue
/assets
/fancyapps
/fonts
/css/magiczoomplus
/js/datepicker
/js/photobox
/js/t-datepicker
/node_modules
/production
/upload
/vubaohuy
/slick
/plugins
/phpMailer
/noidia_php
/m_old
/img
404.*
robots.txt
*.zip
package-lock.json